.triple-component {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .top {
        // display: flex;
        align-items: center;
        padding: 20px;

        img {
            margin-right: 20px;
        }

        .buttons {
            display: flex;
            gap: 10px;

            button {
                padding: 8px 16px;
                border: none;
                border-radius: 5px;
                background-color: #333;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .content {
        padding: 0 20px;

        h2 {
            margin-top: 0;
        }

        p {
            margin-bottom: 20px;
        }

        .text-components {
            display: flex;
            gap: 10px;

            span {
                background-color: #eee;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }

    .bottom {
        text-align: center;
        padding: 20px;

        button {
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
            cursor: pointer;
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .container > .triple-component {
        width: calc(100% / 4);
        margin-right: 20px;
    }
}
